<div class="container">
  <h1>
    <img
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K"
      alt=""
      height="20"
    />
    React
  </h1>
  <div class="divider">
    <div class="spanish">
      <p>
        Es una libreria para desarrollar paginas WEB, existe un completo
        ecosistema de módulos, herramientas y componentes capaces de ayudar al
        desarrollador a cubrir objetivos avanzados con relativamente poco
        esfuerzo.
      </p>
    </div>
    <div class="english">
      It is a library to develop WEB pages, there is a complete ecosystem of
      modules, tools and components capable of helping the developer to cover
      objectives with relatively little effort.
    </div>
  </div>
  <div class="img-container">
    <img width="20%" src="assets/img/reactComponent.png" />
    <img width="20%" src="assets/img/react2.png" />
    <img width="20%" src="assets/img/react3.png" />
  </div>
</div>
